input[type="radio"] {
  display: none;
}

label {
  padding: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  background-color: var(--COLOR-OPTION);
}

label:hover {
  background-color: var(--COLOR-OPTION-HOVER);
  transform: translate(0.2rem);
  transition: transform ease-in-out 0.5s;
}

input[type="radio"]:checked + label {
  background-color: var(--COLOR-PRIMARY);
  color: var(--COLOR-LIGHT);
}
