:root {
  --MAX_WIDTH: 1366px;
  --COLOR-HIGHLIGHT: #11bdb8;
  --COLOR-OPTION: #f8f7ff;
  --COLOR-OPTION-HOVER: #e2eafc;
}

.dark {
  color: var(--COLOR-LIGHT);
  background-image: url(assets/backgrounds/dark-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.light {
  color: var(--COLOR-DARK);
  background-image: url(assets/backgrounds/light-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding: 0 2rem;
  min-height: 100vh;
}

section {
  margin: auto;
  max-width: var(--MAX_WIDTH);
  min-height: calc(100vh - 68px - 7rem);
}

a {
  text-decoration: none;
  color: inherit;
}
