@import url("https://gimesto.netlify.app/styles/components/index.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
